@keyframes expand {
    from {
        transform: scale(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-40em);
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(40em);
    }
}

a {
    font-weight: bold;
}

a, h1, h2, h3, h4, h5, h6, th {
    color: #00e9ff;
}

body {
    background-color: #181818;
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.66em;
    margin: 0 auto;
    max-width: 35em;
    padding: 0 1em;
}

code {
    color: gray;
    font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    animation-duration: 1s;
    animation-name: slide-in-from-left;
    padding: 0.1em 0;
}

img, video {
    animation-duration: 2s;
    animation-name: fade-in;
    height: auto;
    max-width: 100%;
}

p, table, ul {
    animation-duration: 1s;
    animation-name: slide-in-from-right;
}

table {
    border: 0.1em solid gray;
    border-radius: 1em;
    border-spacing: 0;
    margin: 0 auto;
}

table iframe {
    border: none;
    height: 1em;
    width: 1em;
}

table td + td, table th + th {
    border-left: 0.1em solid gray;
}

td {
    border-top: 0.1em solid gray;
    padding: 0.25em 1em;
    text-align: center;
}

th {
    padding: 0.5em;
}

.center {
    text-align: center;
}

.header-img {
    animation: fade-in 2s, rotate 1s;
    width: 1em;
}

.no-underline {
    text-decoration: none;
}

.project {
    padding-top: 1em;
}

.project a {
    font-size: 1.5em;
}

.project i {
    float: right;
    font-size: 1.5em;
    padding-left: 0.1em;
}

#header {
    text-align: center;
    animation-duration: 1s;
    animation-name: expand;
    background-color: white;
    border-radius: 1em;
    color: #181818;
    font-size: 2.5em;
    font-weight: bolder;
    justify-content: center;
    line-height: 1em;
    margin: 0.5em;
    padding: 0.25em;
}
