@import 'common.css';

@keyframes expand {
    from {
        transform: scale(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}

table {
    height: 100%;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
}

table img {
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
}

#header {
    text-align: center;
    animation-duration: 1s;
    animation-name: expand;
    background-color: white;
    border-radius: 1em;
    color: black;
    font-size: 2.5em;
    font-weight: bolder;
    justify-content: center;
    line-height: 1em;
    margin: 0.5em;
    padding: 0.25em;
}

#header a {
    text-decoration: none;
}

#header img {
    animation: fade-in 2s, rotate 1s;
    width: 1em;
}

#info {
    animation-duration: 1s;
    animation-name: slide-in-from-left;
}

#tech img {
    width: 4em;
}