@import 'common.css';

.project {
    animation-duration: 1s;
    animation-name: slide-in-from-left;
    font-size: 1.5em;
    padding-top: 0.75em;
}

.project i {
    float: right;
    padding-left: 0.1em;
}

.screenshot {
    border-radius: 0.25em;
}