* {
    color: white;
}

body {
    /*
        We apply a background color in addition to the background image because Apple devices scroll past the actual
        height and width. Instead of revealing an ugly distracting white, we'll put a subtle color which matches the
        background image.
    */
    background: #02121B url('background.jpg') no-repeat fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}